#container{
	width: 960px;
	margin: 0 auto;
	background-color: #F8F8F8;

}
#header{
	width:960px;
	position:fixed;
	top:0;
	bottom:auto;
	background-color: #F8F8F8;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
}
#header li{
	float:left;
	list-style-type: none;
}
#header li a{
	margin: 0 auto;
	width: 960px;
	color:black;
	padding:55px;
	text-decoration: none;
	font-family:'Kreon';
}
#logoimg{
	position:fixed;

	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	top:20px;
}

.content{
	height: 1500px;
	
}

#firstblock{
	height: 500px;
	background-size: cover;
	background-image: url('../../images/header.jpg');
	display: inline-block;
	text-align: center;
}
#firstblock h1{
	height: 280px;
}
#firstblock span{ 
	
	line-height: 430px;
	padding: 10px;
	padding-right: 337px;
	padding-left: 337px;
	background-color: black;
	background-size: contain;
	color:white;
	font-weight: lighter;
	font-size: 40px;
}
#firstblock a{
	color:white;
	background-color:transparent;
	text-decoration: none;
	border-color: white;

	
}




body{

	font-family: 'Roboto';
}